site_name: My Epic Campaign Wiki
site_url: https://gitbrry.github.io/Campaign-Wiki/

theme:
  name: material
  palette:
    scheme: slate
  features:
    - navigation.indexes # This merges the folders and index files
    # navigation.sections REMOVED to stop the "02" from appearing

docs_dir: 'docs'

plugins:
  - search
  - roamlinks
  - awesome-pages