site_name: My Epic Campaign Wiki
site_url: https://gitbrry.github.io/Campaign-Wiki/
use_directory_urls: false

theme:
  name: material
  palette:
    scheme: slate
  features:
    - navigation.indexes # Makes the folder name a clickable link
    - navigation.expand  # Keeps the sub-items visible
    # navigation.sections was REMOVED to stop the double-name issue

docs_dir: 'docs'

plugins:
  - search
  - roamlinks
  - awesome-pages