site_name: My Epic Campaign Wiki
site_url: https://gitbrry.github.io/Campaign-Wiki/
use_directory_urls: false # This makes links simpler and fixes the 404 errors

theme:
  name: material
  palette:
    scheme: slate
  features:
    - navigation.sections
    - navigation.expand

docs_dir: 'docs'

plugins:
  - search
  - roamlinks
  - awesome-pages