site_name: My Epic Campaign Wiki
site_url: https://gitbrry.github.io/Campaign-Wiki/
use_directory_urls: false

theme:
  name: material
  palette:
    scheme: slate
  features:
    - navigation.sections
    - navigation.expand
    - navigation.indexes # This is the magic line that fixes your sidebar!

docs_dir: 'docs'

plugins:
  - search
  - roamlinks
  - awesome-pages