site_name: My Epic Campaign Wiki
site_url: https://gitbrry.github.io/Campaign-Wiki/

theme:
  name: material
  palette:
    scheme: slate
  features:
    - navigation.indexes # This is the ONLY one we need to merge the folders

docs_dir: 'docs'

plugins:
  - search
  - roamlinks
  - awesome-pages