site_name: My Epic Campaign Wiki
site_url: https://gitbrry.github.io/Campaign-Wiki/

theme:
  name: material
  palette:
    scheme: slate
  features:
    - navigation.indexes  # Merges the folder name with index.md
    - navigation.sections # Creates the bold, arrow-ready headers

docs_dir: 'docs'

plugins:
  - search
  - roamlinks
  - awesome-pages